In [4]:
import pandas as pd
import numpy as np

In [10]:
df_netflix = pd.read_csv("/content/netflix_titles.csv")

In [11]:
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [12]:
df_netflix.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [13]:
#show_id column
missing_values_df_netflix_show_id = df_netflix['show_id'].isna().sum()
duplicated_values_df_netflix_show_id = df_netflix['show_id'].duplicated().sum()
total_values_df_netflix_show_id = df_netflix['show_id'].count()

print(f'Missing values-show_id column: {missing_values_df_netflix_show_id}')
print(f'Duplicated values-show_id column: {duplicated_values_df_netflix_show_id}')
print(f'Total values-show_id column: {total_values_df_netflix_show_id}')

Missing values-show_id column: 0
Duplicated values-show_id column: 0
Total values-show_id column: 8807

In [14]:
#type column
missing_values_df_netflix_type = df_netflix['type'].isna().sum()
duplicated_values_df_netflix_type = df_netflix['type'].duplicated().sum()
total_values_df_netflix_type = df_netflix['type'].count()

print(f'Missing values-type column: {missing_values_df_netflix_type}')
print(f'Duplicated values-type column: {duplicated_values_df_netflix_type}')
print(f'Total values-type column: {total_values_df_netflix_type}')

Missing values-type column: 0
Duplicated values-type column: 8805
Total values-type column: 8807

In [15]:
#title column
missing_values_df_netflix_title = df_netflix['title'].isna().sum()
duplicated_values_df_netflix_title = df_netflix['title'].duplicated().sum()
total_values_df_netflix_title = df_netflix['title'].count()

print(f'Missing values-title column: {missing_values_df_netflix_title}')
print(f'Duplicated values-title column: {duplicated_values_df_netflix_title}')
print(f'Total values-title column: {total_values_df_netflix_title}')

Missing values-title column: 0
Duplicated values-title column: 0
Total values-title column: 8807

In [16]:
#director column
missing_values_df_netflix_director = df_netflix['director'].isna().sum()
duplicated_values_df_netflix_director = df_netflix['director'].duplicated().sum()
total_values_df_netflix_director = df_netflix['director'].count()

print(f'Missing values-director column: {missing_values_df_netflix_director}')
print(f'Duplicated values-director column: {duplicated_values_df_netflix_director}')
print(f'Total values-director column: {total_values_df_netflix_director}')

Missing values-director column: 2634
Duplicated values-director column: 4278
Total values-director column: 6173

In [17]:
#cast column
missing_values_df_netflix_cast = df_netflix['cast'].isna().sum()
duplicated_values_df_netflix_cast = df_netflix['cast'].duplicated().sum()
total_values_df_netflix_cast = df_netflix['cast'].count()

print(f'Missing values-cast column: {missing_values_df_netflix_cast}')
print(f'Duplicated values-cast column: {duplicated_values_df_netflix_cast}')
print(f'Total values-cast column: {total_values_df_netflix_cast}')

Missing values-cast column: 825
Duplicated values-cast column: 1114
Total values-cast column: 7982

In [18]:
#country column
missing_values_df_netflix_country = df_netflix['country'].isna().sum()
duplicated_values_df_netflix_country = df_netflix['country'].duplicated().sum()
total_values_df_netflix_country = df_netflix['country'].count()

print(f'Missing values-country column: {missing_values_df_netflix_country}')
print(f'Duplicated values-country column: {duplicated_values_df_netflix_country}')
print(f'Total values-country column: {total_values_df_netflix_country}')

Missing values-country column: 831
Duplicated values-country column: 8058
Total values-country column: 7976

In [19]:
#date_added column
missing_values_df_netflix_date_added = df_netflix['date_added'].isna().sum()
duplicated_values_df_netflix_date_added = df_netflix['date_added'].duplicated().sum()
total_values_df_netflix_date_added = df_netflix['date_added'].count()

print(f'Missing values-date_added column: {missing_values_df_netflix_date_added}')
print(f'Duplicated values-date_added column: {duplicated_values_df_netflix_date_added}')
print(f'Total values-date_added column: {total_values_df_netflix_date_added}')

Missing values-date_added column: 10
Duplicated values-date_added column: 7039
Total values-date_added column: 8797

In [20]:
#release_year column
missing_values_df_netflix_release_year = df_netflix['release_year'].isna().sum()
duplicated_values_df_netflix_release_year = df_netflix['release_year'].duplicated().sum()
total_values_df_netflix_release_year = df_netflix['release_year'].count()

print(f'Missing values-release_year column: {missing_values_df_netflix_release_year}')
print(f'Duplicated values-release_year column: {duplicated_values_df_netflix_release_year}')
print(f'Total values-release_year column: {total_values_df_netflix_release_year}')

Missing values-release_year column: 0
Duplicated values-release_year column: 8733
Total values-release_year column: 8807

In [21]:
#rating column
missing_values_df_netflix_rating = df_netflix['rating'].isna().sum()
duplicated_values_df_netflix_rating = df_netflix['rating'].duplicated().sum()
total_values_df_netflix_rating = df_netflix['rating'].count()

print(f'Missing values-rating column: {missing_values_df_netflix_rating}')
print(f'Duplicated values-rating column: {duplicated_values_df_netflix_rating}')
print(f'Total values-rating column: {total_values_df_netflix_rating}')

Missing values-rating column: 4
Duplicated values-rating column: 8789
Total values-rating column: 8803

In [22]:
#duration column
missing_values_df_netflix_duration = df_netflix['duration'].isna().sum()
duplicated_values_df_netflix_duration = df_netflix['duration'].duplicated().sum()
total_values_df_netflix_duration = df_netflix['duration'].count()

print(f'Missing values-duration column: {missing_values_df_netflix_duration}')
print(f'Duplicated values-duration column: {duplicated_values_df_netflix_duration}')
print(f'Total values-duration column: {total_values_df_netflix_duration}')

Missing values-duration column: 3
Duplicated values-duration column: 8586
Total values-duration column: 8804

In [23]:
#listed_in column
missing_values_df_netflix_listed_in = df_netflix['listed_in'].isna().sum()
duplicated_values_df_netflix_listed_in = df_netflix['listed_in'].duplicated().sum()
total_values_df_netflix_listed_in = df_netflix['listed_in'].count()

print(f'Missing values-listed_in column: {missing_values_df_netflix_listed_in}')
print(f'Duplicated values-listed_in column: {duplicated_values_df_netflix_listed_in}')
print(f'Total values-listed_in column: {total_values_df_netflix_listed_in}')

Missing values-listed_in column: 0
Duplicated values-listed_in column: 8293
Total values-listed_in column: 8807

In [24]:
#description column
missing_values_df_netflix_description = df_netflix['description'].isna().sum()
duplicated_values_df_netflix_description = df_netflix['description'].duplicated().sum()
total_values_df_netflix_description = df_netflix['description'].count()

print(f'Missing values-description column: {missing_values_df_netflix_description}')
print(f'Duplicated values-description column: {duplicated_values_df_netflix_description}')
print(f'Total values-description column: {total_values_df_netflix_description}')

Missing values-description column: 0
Duplicated values-description column: 32
Total values-description column: 8807