#Electric Scooters

In [34]:
#link to the Kaggle dataset -> https://www.kaggle.com/datasets/marcom01/e-scooter-rides-vibration?utm_source=chatgpt.com

import pandas as pd
import numpy as np

##Data Exploration

In [35]:
df_e_scooters = pd.read_csv("/content/E-ScootersData.csv")

In [36]:
df_e_scooters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61500 entries, 0 to 61499
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      61500 non-null  int64
 1   timestamp  61500 non-null  object
 2   acc_x      61500 non-null  float64
 3   acc_y      61500 non-null  float64
 4   acc_z      61500 non-null  float64
 5   time       61500 non-null  float64
 6   label      61500 non-null  object
 7   sample     61500 non-null  int64
dtypes: float64(4), int64(2), object(2)
memory usage: 3.8+ MB

In [37]:
df_e_scooters.describe()

,index,acc_x,acc_y,acc_z,time,sample
count,61500.000000,61500.000000,61500.000000,61500.000000,61500.000000,61500.000000
mean,30749.500000,0.887616,0.001898,-0.407703,308.592581,30749.500000
std,17753.665115,0.527449,0.165028,0.230069,177.882442,17753.665115
min,0.000000,-6.062500,-3.078125,-7.796875,0.000000,0.000000
25%,15374.750000,0.812500,-0.046875,-0.484375,154.648500,15374.750000
50%,30749.500000,0.875000,-0.015625,-0.421875,308.783000,30749.500000
75%,46124.250000,0.968750,0.062500,-0.343750,462.651250,46124.250000
max,61499.000000,7.984375,3.078125,4.671875,616.379000,61499.000000

In [38]:
#index column
missing_values_df_e_scooters_index = df_e_scooters['index'].isna().sum()
duplicated_values_df_e_scooters_index = df_e_scooters['index'].duplicated().sum()
total_values_df_e_scooters_index = df_e_scooters['index'].count()

print(f'Missing values-index column: {missing_values_df_e_scooters_index}')
print(f'Duplicated values-index column: {duplicated_values_df_e_scooters_index}')
print(f'Total values-index column: {total_values_df_e_scooters_index}')

Missing values-index column: 0
Duplicated values-index column: 0
Total values-index column: 61500

In [39]:
#timestamp column
missing_values_df_e_scooters_timestamp = df_e_scooters['timestamp'].isna().sum()
duplicated_values_df_e_scooters_timestamp = df_e_scooters['timestamp'].duplicated().sum()
total_values_df_e_scooters_timestamp = df_e_scooters['timestamp'].count()

print(f'Missing values-timestamp column: {missing_values_df_e_scooters_timestamp}')
print(f'Duplicated values-timestamp column: {duplicated_values_df_e_scooters_timestamp}')
print(f'Total values-timestamp column: {total_values_df_e_scooters_timestamp}')

Missing values-timestamp column: 0
Duplicated values-timestamp column: 0
Total values-timestamp column: 61500

In [40]:
#acc_x column
missing_values_df_e_scooters_acc_x = df_e_scooters['acc_x'].isna().sum()
duplicated_values_df_e_scooters_acc_x = df_e_scooters['acc_x'].duplicated().sum()
total_values_df_e_scooters_acc_x = df_e_scooters['acc_x'].count()

print(f'Missing values-acc_x column: {missing_values_df_e_scooters_acc_x}')
print(f'Duplicated values-acc_x column: {duplicated_values_df_e_scooters_acc_x}')
print(f'Total values-acc_x column: {total_values_df_e_scooters_acc_x}')

Missing values-acc_x column: 0
Duplicated values-acc_x column: 60967
Total values-acc_x column: 61500

In [41]:
#acc_y column
missing_values_df_e_scooters_acc_y = df_e_scooters['acc_y'].isna().sum()
duplicated_values_df_e_scooters_acc_y = df_e_scooters['acc_y'].duplicated().sum()
total_values_df_e_scooters_acc_y = df_e_scooters['acc_y'].count()

print(f'Missing values-acc_y column: {missing_values_df_e_scooters_acc_y}')
print(f'Duplicated values-acc_y column: {duplicated_values_df_e_scooters_acc_y}')
print(f'Total values-acc_y column: {total_values_df_e_scooters_acc_y}')

Missing values-acc_y column: 0
Duplicated values-acc_y column: 61312
Total values-acc_y column: 61500

In [42]:
#acc_z column
missing_values_df_e_scooters_acc_z = df_e_scooters['acc_z'].isna().sum()
duplicated_values_df_e_scooters_acc_z = df_e_scooters['acc_z'].duplicated().sum()
total_values_df_e_scooters_acc_z = df_e_scooters['acc_z'].count()

print(f'Missing values-acc_z column: {missing_values_df_e_scooters_acc_z}')
print(f'Duplicated values-acc_z column: {duplicated_values_df_e_scooters_acc_z}')
print(f'Total values-acc_z column: {total_values_df_e_scooters_acc_z}')

Missing values-acc_z column: 0
Duplicated values-acc_z column: 61214
Total values-acc_z column: 61500

In [43]:
#time column
missing_values_df_e_scooters_time = df_e_scooters['time'].isna().sum()
duplicated_values_df_e_scooters_time = df_e_scooters['time'].duplicated().sum()
total_values_df_e_scooters_time = df_e_scooters['time'].count()

print(f'Missing values-time column: {missing_values_df_e_scooters_time}')
print(f'Duplicated values-time column: {duplicated_values_df_e_scooters_time}')
print(f'Total values-time column: {total_values_df_e_scooters_time}')

Missing values-time column: 0
Duplicated values-time column: 0
Total values-time column: 61500

In [44]:
#label column
missing_values_df_e_scooters_label = df_e_scooters['label'].isna().sum()
duplicated_values_df_e_scooters_label = df_e_scooters['label'].duplicated().sum()
total_values_df_e_scooters_label = df_e_scooters['label'].count()

print(f'Missing values-label column: {missing_values_df_e_scooters_label}')
print(f'Duplicated values-label column: {duplicated_values_df_e_scooters_label}')
print(f'Total values-label column: {total_values_df_e_scooters_label}')

Missing values-label column: 0
Duplicated values-label column: 61494
Total values-label column: 61500

In [45]:
#sample column
missing_values_df_e_scooters_sample = df_e_scooters['sample'].isna().sum()
duplicated_values_df_e_scooters_sample = df_e_scooters['sample'].duplicated().sum()
total_values_df_e_scooters_sample = df_e_scooters['sample'].count()

print(f'Missing values-sample column: {missing_values_df_e_scooters_sample}')
print(f'Duplicated values-sample column: {duplicated_values_df_e_scooters_sample}')
print(f'Total values-sample column: {total_values_df_e_scooters_sample}')

Missing values-sample column: 0
Duplicated values-sample column: 0
Total values-sample column: 61500

##Data Cleaning

In [46]:
#index column -> common values: from 0 to 61499

#Missing values-index column: 0
#Duplicated values-index column: 0
#Total values-index column: 61500

#this column has dtype int64, which means all values are integers

#range check
df_e_scooters['index'].min(), df_e_scooters['index'].max()

#confirm first and last value
#df_e_scooters['index'].iloc[0], df_e_scooters['index'].iloc[-1]

#confirm values are incrementing
df_e_scooters['index'].is_monotonic_increasing

#confirm range
expected = pd.Series(range(61500))
df_e_scooters['index'].sort_values(ignore_index=True).equals(expected)

True

In [47]:
#timestamp column -> common value: 2022-10-29 15:19:02.251

#Missing values-timestamp column: 0
#Duplicated values-timestamp column: 0
#Total values-timestamp column: 61500

#convert to datetime and keep the format
df_e_scooters["timestamp"] = pd.to_datetime(
    df_e_scooters["timestamp"],
    format="%Y-%m-%d %H:%M:%S.%f"
)

#confirm conversion
df_e_scooters["timestamp"].dtype

#if any row doesn't match the format, this will produce NaT when errors="coerce" is used
tmp = pd.to_datetime(
    df_e_scooters["timestamp"],
    format="%Y-%m-%d %H:%M:%S.%f",
    errors="coerce"
)

#confirm invalid rows
invalid = df_e_scooters[tmp.isna()]
print(invalid)

#confirm only one date is present in the rows
df_e_scooters["timestamp"].dt.date.nunique()
#-> output is "1", so the date part (YYYY-MM-DD) is always 2022-10-29

#confirm min and max values
df_e_scooters["timestamp"].min(), df_e_scooters["timestamp"].max()

#confirm the time range (â†’ ~10 minutes and 16 seconds)
df_e_scooters["timestamp"].max() - df_e_scooters["timestamp"].min()

Empty DataFrame
Columns: [index, timestamp, acc_x, acc_y, acc_z, time, label, sample]
Index: []

Timedelta('0 days 00:10:16.379000')

In [48]:
#acc_x column -> common values: 2.078125, -1.296875

#Missing values-acc_x column: 0
#Duplicated values-acc_x column: 60967
#Total values-acc_x column: 61500

#dtype is float64 (no whitespaces or other characters besides '-')

#confirm min and max values
df_e_scooters["acc_x"].agg(["min", "max"])

#confirm how many values are 0 (75 values)
(df_e_scooters["acc_x"] == 0).sum()

#check how many values have X (<=6) number of decimals
decimal_counts = (
    df_e_scooters["acc_x"]
    .astype(str)
    .str.split(".")
    .str[1]
    .str.len()
    .value_counts()
    .sort_index()
)

decimal_counts

#confirm how many values are positive (59303) vs negative (2122)
df_e_scooters["acc_x"].agg(
    positive=lambda x: (x > 0).sum(),
    negative=lambda x: (x < 0).sum()
)

#59303 (positive values) + 2122 (negative values) + 75 ('0' values) = 61500 (total values)

positive    59303
negative     2122
Name: acc_x, dtype: int64

In [49]:
#acc_y column -> common values: 0.234375, -0.046875

#Missing values-acc_y column: 0
#Duplicated values-acc_y column: 61312
#Total values-acc_y column: 61500

#confirm min and max values
df_e_scooters["acc_y"].agg(["min", "max"])

#confirm how many values are 0 (4147 values)
(df_e_scooters["acc_y"] == 0).sum()

#check how many values have X (<=6) number of decimals
decimal_counts = (
    df_e_scooters["acc_y"]
    .astype(str)
    .str.split(".")
    .str[1]
    .str.len()
    .value_counts()
    .sort_index()
)

decimal_counts

#confirm how many values are positive (22457) vs negative (34896)
df_e_scooters["acc_y"].agg(
    positive=lambda x: (x > 0).sum(),
    negative=lambda x: (x < 0).sum()
)

#22457 (positive values) + 34896 (negative values) + 4147 ('0' values) = 61500 (total values)

positive    22457
negative    34896
Name: acc_y, dtype: int64

In [50]:
#acc_z column -> common values: -0.484375, -0.359375

#Missing values-acc_z column: 0
#Duplicated values-acc_z column: 61214
#Total values-acc_z column: 61500

#confirm min and max values
df_e_scooters["acc_z"].agg(["min", "max"])

#confirm how many values are 0 (130 values)
(df_e_scooters["acc_z"] == 0).sum()

#check how many values have X (<=6) number of decimals
decimal_counts = (
    df_e_scooters["acc_z"]
    .astype(str)
    .str.split(".")
    .str[1]
    .str.len()
    .value_counts()
    .sort_index()
)

decimal_counts

#confirm how many values are positive (1952) vs negative (59418)
df_e_scooters["acc_z"].agg(
    positive=lambda x: (x > 0).sum(),
    negative=lambda x: (x < 0).sum()
)

#1952 (positive values) + 59418 (negative values) + 130 ('0' values) = 61500 (total values)

positive     1952
negative    59418
Name: acc_z, dtype: int64