#Materials Science

In [1]:
#link to the Kaggle dataset -> https://www.kaggle.com/datasets/allanwandia/material-science

import pandas as pd
import numpy as np

##Data Exploration

In [2]:
df_materials = pd.read_csv("/content/lithium_battery_materials.csv")

In [3]:
df_materials.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86988 entries, 0 to 86987
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   material_id                86988 non-null  object
 1   formula_pretty             86988 non-null  object
 2   n_elements                 86988 non-null  int64
 3   contains_transition_metal  86988 non-null  bool
 4   formation_energy_per_atom  86988 non-null  float64
 5   energy_per_atom            86988 non-null  float64
 6   band_gap                   86988 non-null  float64
 7   is_semiconductor           86988 non-null  bool
 8   density                    86988 non-null  float64
 9   volume                     86988 non-null  float64
 10  elements                   86988 non-null  object
dtypes: bool(2), float64(5), int64(1), object(3)
memory usage: 6.1+ MB

In [4]:
df_materials.describe()

,n_elements,formation_energy_per_atom,energy_per_atom,band_gap,density,volume
count,86988.000000,8.698800e+04,8.698800e+04,8.698800e+04,8.698800e+04,8.698800e+04
mean,3.886099,8.628976e-15,8.820440e-15,7.784048e-15,-1.248506e-14,-1.394490e-14
std,0.746630,1.000006e+00,1.000006e+00,1.000006e+00,1.000006e+00,1.000006e+00
min,2.000000,-2.333873e+00,-1.662359e+01,-8.682129e-01,-2.477204e+00,-1.194165e+00
25%,3.000000,-6.245452e-01,-1.117969e-01,-8.682129e-01,-5.720758e-01,-6.209157e-01
50%,4.000000,-2.581734e-01,6.315191e-02,-3.681771e-01,-1.676467e-01,-3.418060e-01
75%,4.000000,2.759976e-01,2.902369e-01,6.349414e-01,3.265572e-01,3.349606e-01
max,8.000000,7.952180e+00,2.055498e+00,5.033428e+00,1.032946e+01,1.992366e+01

In [5]:
#material_id column
missing_values_df_materials_material_id = df_materials['material_id'].isna().sum()
duplicated_values_df_materials_material_id = df_materials['material_id'].duplicated().sum()
total_values_df_materials_material_id = df_materials['material_id'].count()

print(f'Missing values-material_id column: {missing_values_df_materials_material_id}')
print(f'Duplicated values-material_id column: {duplicated_values_df_materials_material_id}')
print(f'Total values-material_id column: {total_values_df_materials_material_id}')

Missing values-material_id column: 0
Duplicated values-material_id column: 65241
Total values-material_id column: 86988

In [6]:
#formula_pretty column
missing_values_df_materials_formula_pretty = df_materials['formula_pretty'].isna().sum()
duplicated_values_df_materials_formula_pretty = df_materials['formula_pretty'].duplicated().sum()
total_values_df_materials_formula_pretty = df_materials['formula_pretty'].count()

print(f'Missing values-formula_pretty column: {missing_values_df_materials_formula_pretty}')
print(f'Duplicated values-formula_pretty column: {duplicated_values_df_materials_formula_pretty}')
print(f'Total values-formula_pretty column: {total_values_df_materials_formula_pretty}')

Missing values-formula_pretty column: 0
Duplicated values-formula_pretty column: 77465
Total values-formula_pretty column: 86988

In [7]:
#n_elements column
missing_values_df_materials_n_elements = df_materials['n_elements'].isna().sum()
duplicated_values_df_materials_n_elements = df_materials['n_elements'].duplicated().sum()
total_values_df_materials_n_elements = df_materials['n_elements'].count()

print(f'Missing values-n_elements column: {missing_values_df_materials_n_elements}')
print(f'Duplicated values-n_elements column: {duplicated_values_df_materials_n_elements}')
print(f'Total values-n_elements column: {total_values_df_materials_n_elements}')

Missing values-n_elements column: 0
Duplicated values-n_elements column: 86981
Total values-n_elements column: 86988

In [8]:
#contains_transition_metal column
missing_values_df_materials_contains_transition_metal = df_materials['contains_transition_metal'].isna().sum()
duplicated_values_df_materials_contains_transition_metal = df_materials['contains_transition_metal'].duplicated().sum()
total_values_df_materials_contains_transition_metal = df_materials['contains_transition_metal'].count()

print(f'Missing values-contains_transition_metal column: {missing_values_df_materials_contains_transition_metal}')
print(f'Duplicated values-contains_transition_metal column: {duplicated_values_df_materials_contains_transition_metal}')
print(f'Total values-contains_transition_metal column: {total_values_df_materials_contains_transition_metal}')

Missing values-contains_transition_metal column: 0
Duplicated values-contains_transition_metal column: 86986
Total values-contains_transition_metal column: 86988

In [9]:
#formation_energy_per_atom column
missing_values_df_materials_formation_energy_per_atom = df_materials['formation_energy_per_atom'].isna().sum()
duplicated_values_df_materials_formation_energy_per_atom = df_materials['formation_energy_per_atom'].duplicated().sum()
total_values_df_materials_formation_energy_per_atom = df_materials['formation_energy_per_atom'].count()

print(f'Missing values-formation_energy_per_atom column: {missing_values_df_materials_formation_energy_per_atom}')
print(f'Duplicated values-formation_energy_per_atom column: {duplicated_values_df_materials_formation_energy_per_atom}')
print(f'Total values-formation_energy_per_atom column: {total_values_df_materials_formation_energy_per_atom}')

Missing values-formation_energy_per_atom column: 0
Duplicated values-formation_energy_per_atom column: 65241
Total values-formation_energy_per_atom column: 86988

In [10]:
#energy_per_atom column
missing_values_df_materials_energy_per_atom = df_materials['energy_per_atom'].isna().sum()
duplicated_values_df_materials_energy_per_atom = df_materials['energy_per_atom'].duplicated().sum()
total_values_df_materials_energy_per_atom = df_materials['energy_per_atom'].count()

print(f'Missing values-energy_per_atom column: {missing_values_df_materials_energy_per_atom}')
print(f'Duplicated values-energy_per_atom column: {duplicated_values_df_materials_energy_per_atom}')
print(f'Total values-energy_per_atom column: {total_values_df_materials_energy_per_atom}')

Missing values-energy_per_atom column: 0
Duplicated values-energy_per_atom column: 65241
Total values-energy_per_atom column: 86988

In [11]:
#band_gap column
missing_values_df_materials_band_gap = df_materials['band_gap'].isna().sum()
duplicated_values_df_materials_band_gap = df_materials['band_gap'].duplicated().sum()
total_values_df_materials_band_gap = df_materials['band_gap'].count()

print(f'Missing values-band_gap column: {missing_values_df_materials_band_gap}')
print(f'Duplicated values-band_gap column: {duplicated_values_df_materials_band_gap}')
print(f'Total values-band_gap column: {total_values_df_materials_band_gap}')

Missing values-band_gap column: 0
Duplicated values-band_gap column: 73510
Total values-band_gap column: 86988

In [12]:
#is_semiconductor column
missing_values_df_materials_is_semiconductor = df_materials['is_semiconductor'].isna().sum()
duplicated_values_df_materials_is_semiconductor = df_materials['is_semiconductor'].duplicated().sum()
total_values_df_materials_is_semiconductor = df_materials['is_semiconductor'].count()

print(f'Missing values-is_semiconductor column: {missing_values_df_materials_is_semiconductor}')
print(f'Duplicated values-is_semiconductor column: {duplicated_values_df_materials_is_semiconductor}')
print(f'Total values-is_semiconductor column: {total_values_df_materials_is_semiconductor}')

Missing values-is_semiconductor column: 0
Duplicated values-is_semiconductor column: 86986
Total values-is_semiconductor column: 86988

In [13]:
#density column
missing_values_df_materials_density = df_materials['density'].isna().sum()
duplicated_values_df_materials_density = df_materials['density'].duplicated().sum()
total_values_df_materials_density = df_materials['density'].count()

print(f'Missing values-density column: {missing_values_df_materials_density}')
print(f'Duplicated values-density column: {duplicated_values_df_materials_density}')
print(f'Total values-density column: {total_values_df_materials_density}')

Missing values-density column: 0
Duplicated values-density column: 65331
Total values-density column: 86988

In [14]:
#volume column
missing_values_df_materials_volume = df_materials['volume'].isna().sum()
duplicated_values_df_materials_volume = df_materials['volume'].duplicated().sum()
total_values_df_materials_volume = df_materials['volume'].count()

print(f'Missing values-volume column: {missing_values_df_materials_volume}')
print(f'Duplicated values-volume column: {duplicated_values_df_materials_volume}')
print(f'Total values-volume column: {total_values_df_materials_volume}')

Missing values-volume column: 0
Duplicated values-volume column: 65330
Total values-volume column: 86988

In [15]:
#elements column
missing_values_df_materials_elements = df_materials['elements'].isna().sum()
duplicated_values_df_materials_elements = df_materials['elements'].duplicated().sum()
total_values_df_materials_elements = df_materials['elements'].count()

print(f'Missing values-elements column: {missing_values_df_materials_elements}')
print(f'Duplicated values-elements column: {duplicated_values_df_materials_elements}')
print(f'Total values-elements column: {total_values_df_materials_elements}')

Missing values-elements column: 0
Duplicated values-elements column: 83592
Total values-elements column: 86988

##Data Cleaning

In [16]:
#material_id column -> common values: mp-20150, mp-1193296, mp-2659

#Missing values-material_id column: 0
#Duplicated values-material_id column: 57492
#Total values-material_id column: 79239

import re

#convert material_id to string, strip of white spaces
df_materials['material_id'] = df_materials['material_id'].astype(str).str.strip()

#sometimes CSV or Excel imports add invisible characters that strip() won’t catch
#this keeps only standard ASCII characters
df_materials['material_id'] = df_materials['material_id'].str.replace(r"[^\x00-\x7F]+", "", regex=True)

#make sure all values converted to str
df_materials['material_id'].map(type).unique()

#show top 10 longest values
#sorted_values = sorted(
    #df_materials['material_id'].map(str).dropna().unique(),
    #key=len,
    #reverse=True
#)
#sorted_values[:10]

#regex pattern for 'mp-' + 3 to 7 digits
pattern_strict = r'^mp-(\d{3}|\d{4}|\d{5}|\d{6}|\d{7})$'

#create mask
mask_valid = df_materials['material_id'].str.match(pattern_strict)

#count valid vs invalid
valid_count = mask_valid.sum()
invalid_count = (~mask_valid).sum()

print(f"Valid material_id values: {valid_count}")
print(f"Invalid material_id values: {invalid_count}")

#display invalid ones
df_materials.loc[~mask_valid, 'material_id'].value_counts()

len(df_materials)

Valid material_id values: 86988
Invalid material_id values: 0

86988

In [17]:
#formula_pretty column -> common values: LiMg, LiFe2F5, Li(Fe2O3)4, LiMn2O4

#Missing values-formula_pretty column: 0
#Duplicated values-formula_pretty column: 77465
#Total values-formula_pretty column: 86988

#convert formula_pretty to string, strip of white spaces
df_materials['formula_pretty'] = df_materials['formula_pretty'].astype(str).str.strip()

#sometimes CSV or Excel imports add invisible characters that strip() won’t catch
#this keeps only standard ASCII characters
df_materials['formula_pretty'] = df_materials['formula_pretty'].str.replace(r"[^\x00-\x7F]+", "", regex=True)

#make sure all values converted to str
df_materials['formula_pretty'].map(type).unique()

#regex pattern (all 118 IUPAC elements included)
pattern_formula = (
    r'^('
        r'('
            r'H|He|Li|Be|B|C|N|O|F|Ne|'
            r'Na|Mg|Al|Si|P|S|Cl|Ar|'
            r'K|Ca|Sc|Ti|V|Cr|Mn|Fe|Co|Ni|Cu|Zn|Ga|Ge|As|Se|Br|Kr|'
            r'Rb|Sr|Y|Zr|Nb|Mo|Tc|Ru|Rh|Pd|Ag|Cd|In|Sn|Sb|Te|I|Xe|'
            r'Cs|Ba|La|Ce|Pr|Nd|Pm|Sm|Eu|Gd|Tb|Dy|Ho|Er|Tm|Yb|Lu|'
            r'Hf|Ta|W|Re|Os|Ir|Pt|Au|Hg|Tl|Pb|Bi|Po|At|Rn|'
            r'Fr|Ra|Ac|Th|Pa|U|Np|Pu|Am|Cm|Bk|Cf|Es|Fm|Md|No|Lr|'
            r'Rf|Db|Sg|Bh|Hs|Mt|Ds|Rg|Cn|Nh|Fl|Mc|Lv|Ts|Og'
        r')'
        r'\d*'
        r'|\('
            r'[A-Za-z0-9]+'
        r'\)\d*'
    r')+$'
)

#create mask
mask_valid = df_materials['formula_pretty'].str.match(pattern_formula)

#count valid vs invalid
valid_count = mask_valid.sum()
invalid_count = (~mask_valid).sum()

print(f"Valid formula_pretty values: {valid_count}")
print(f"Invalid formula_pretty values: {invalid_count}")

#display invalid ones
df_materials.loc[~mask_valid, 'formula_pretty'].value_counts()

len(df_materials)

Valid formula_pretty values: 86988
Invalid formula_pretty values: 0

86988

In [18]:
#n_elements column -> common values: 4, 3, 5, 6, 2, 7, 8

#Missing values-n_elements column: 0
#Duplicated values-n_elements column: 86981
#Total values-n_elements column: 86988

#this column has dtype int64, which means all values are integers

#check most common values
df_materials['n_elements'].value_counts()

#range check
#df_materials['n_elements'].min(), df_materials['n_elements'].max()

#all the values are listed below, so no pattern-matching validation needed here

n_elements
4    49412
3    22112
5    11588
6     2000
2     1804
7       64
8        8
Name: count, dtype: int64

In [19]:
#contains_transition_metal column -> 2 values: False, True (dtype is bool)

#Missing values-contains_transition_metal column: 0
#Duplicated values-contains_transition_metal column: 86986
#Total values-contains_transition_metal column: 86988

#'pd.NA' isn’t possible in bool dtype (only in boolean dtype)

#confirm assumption (dtype bool can only store 'False' and 'True' but I want to confirm it)
df_materials[~df_materials['contains_transition_metal'].isin([True, False])]

Empty DataFrame
Columns: [material_id, formula_pretty, n_elements, contains_transition_metal, formation_energy_per_atom, energy_per_atom, band_gap, is_semiconductor, density, volume, elements]
Index: []

In [24]:
#formation_energy_per_atom column -> example of values: -1.30984236496248, 2.15919728147414

#Missing values-formation_energy_per_atom column: 0
#Duplicated values-formation_energy_per_atom column: 65241
#Total values-formation_energy_per_atom column: 86988

#dtype is float64 (no whitespaces or other characters besides '-')

#confirm min (-2.333873) and max (7.952180) values
df_materials["formation_energy_per_atom"].agg(["min", "max"])

#check how many values are 0 (0 values)
(df_materials["formation_energy_per_atom"] == 0).sum()

#confirm how many values are positive (33208) vs negative (53780)
df_materials["formation_energy_per_atom"].agg(
    positive=lambda x: (x > 0).sum(),
    negative=lambda x: (x < 0).sum()
)

#33208 (positive values) + 53780 (negative values) + 0 ('0' values) = 86988 (total values)

positive    33208
negative    53780
Name: formation_energy_per_atom, dtype: int64

In [27]:
#energy_per_atom column -> example of values: 1.14544399799467, -6.84235672385285

#Missing values-energy_per_atom column: 0
#Duplicated values-energy_per_atom column: 65241
#Total values-energy_per_atom column: 86988

#confirm min (-16.623591) and max (2.055498) values
df_materials["energy_per_atom"].agg(["min", "max"])

#check how many values are 0 (0 values)
(df_materials["energy_per_atom"] == 0).sum()

#confirm how many values are positive (50488) vs negative (36500)
df_materials["energy_per_atom"].agg(
    positive=lambda x: (x > 0).sum(),
    negative=lambda x: (x < 0).sum()
)

#50488 (positive values) + 36500 (negative values) + 0 ('0' values) = 86988 (total values)

positive    50488
negative    36500
Name: energy_per_atom, dtype: int64

In [31]:
#band_gap column -> example of values: 1.59398085364582, -0.68356864600506

#Missing values-band_gap column: 0
#Duplicated values-band_gap column: 73510
#Total values-band_gap column: 86988

#confirm min (-0.868213) and max (5.033428) values
df_materials["band_gap"].agg(["min", "max"])

#check how many values are 0 (0 values)
(df_materials["band_gap"] == 0).sum()

#confirm how many values are positive (33724) vs negative (53264)
df_materials["band_gap"].agg(
    positive=lambda x: (x > 0).sum(),
    negative=lambda x: (x < 0).sum()
)

#33724 (positive values) + 53264 (negative values) + 0 ('0' values) = 86988 (total values)

positive    33724
negative    53264
Name: band_gap, dtype: int64