#Netflix Movies and TV Shows

In [65]:
import pandas as pd
import numpy as np

##Data Exploration

In [66]:
df_netflix = pd.read_csv("/content/netflix_titles.csv")

In [67]:
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [68]:
df_netflix.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [69]:
#show_id column
missing_values_df_netflix_show_id = df_netflix['show_id'].isna().sum()
duplicated_values_df_netflix_show_id = df_netflix['show_id'].duplicated().sum()
total_values_df_netflix_show_id = df_netflix['show_id'].count()

print(f'Missing values-show_id column: {missing_values_df_netflix_show_id}')
print(f'Duplicated values-show_id column: {duplicated_values_df_netflix_show_id}')
print(f'Total values-show_id column: {total_values_df_netflix_show_id}')

Missing values-show_id column: 0
Duplicated values-show_id column: 0
Total values-show_id column: 8807

In [70]:
#type column
missing_values_df_netflix_type = df_netflix['type'].isna().sum()
duplicated_values_df_netflix_type = df_netflix['type'].duplicated().sum()
total_values_df_netflix_type = df_netflix['type'].count()

print(f'Missing values-type column: {missing_values_df_netflix_type}')
print(f'Duplicated values-type column: {duplicated_values_df_netflix_type}')
print(f'Total values-type column: {total_values_df_netflix_type}')

Missing values-type column: 0
Duplicated values-type column: 8805
Total values-type column: 8807

In [71]:
#title column
missing_values_df_netflix_title = df_netflix['title'].isna().sum()
duplicated_values_df_netflix_title = df_netflix['title'].duplicated().sum()
total_values_df_netflix_title = df_netflix['title'].count()

print(f'Missing values-title column: {missing_values_df_netflix_title}')
print(f'Duplicated values-title column: {duplicated_values_df_netflix_title}')
print(f'Total values-title column: {total_values_df_netflix_title}')

Missing values-title column: 0
Duplicated values-title column: 0
Total values-title column: 8807

In [72]:
#director column
missing_values_df_netflix_director = df_netflix['director'].isna().sum()
duplicated_values_df_netflix_director = df_netflix['director'].duplicated().sum()
total_values_df_netflix_director = df_netflix['director'].count()

print(f'Missing values-director column: {missing_values_df_netflix_director}')
print(f'Duplicated values-director column: {duplicated_values_df_netflix_director}')
print(f'Total values-director column: {total_values_df_netflix_director}')

Missing values-director column: 2634
Duplicated values-director column: 4278
Total values-director column: 6173

In [73]:
#cast column
missing_values_df_netflix_cast = df_netflix['cast'].isna().sum()
duplicated_values_df_netflix_cast = df_netflix['cast'].duplicated().sum()
total_values_df_netflix_cast = df_netflix['cast'].count()

print(f'Missing values-cast column: {missing_values_df_netflix_cast}')
print(f'Duplicated values-cast column: {duplicated_values_df_netflix_cast}')
print(f'Total values-cast column: {total_values_df_netflix_cast}')

Missing values-cast column: 825
Duplicated values-cast column: 1114
Total values-cast column: 7982

In [74]:
#country column
missing_values_df_netflix_country = df_netflix['country'].isna().sum()
duplicated_values_df_netflix_country = df_netflix['country'].duplicated().sum()
total_values_df_netflix_country = df_netflix['country'].count()

print(f'Missing values-country column: {missing_values_df_netflix_country}')
print(f'Duplicated values-country column: {duplicated_values_df_netflix_country}')
print(f'Total values-country column: {total_values_df_netflix_country}')

Missing values-country column: 831
Duplicated values-country column: 8058
Total values-country column: 7976

In [75]:
#date_added column
missing_values_df_netflix_date_added = df_netflix['date_added'].isna().sum()
duplicated_values_df_netflix_date_added = df_netflix['date_added'].duplicated().sum()
total_values_df_netflix_date_added = df_netflix['date_added'].count()

print(f'Missing values-date_added column: {missing_values_df_netflix_date_added}')
print(f'Duplicated values-date_added column: {duplicated_values_df_netflix_date_added}')
print(f'Total values-date_added column: {total_values_df_netflix_date_added}')

Missing values-date_added column: 10
Duplicated values-date_added column: 7039
Total values-date_added column: 8797

In [76]:
#release_year column
missing_values_df_netflix_release_year = df_netflix['release_year'].isna().sum()
duplicated_values_df_netflix_release_year = df_netflix['release_year'].duplicated().sum()
total_values_df_netflix_release_year = df_netflix['release_year'].count()

print(f'Missing values-release_year column: {missing_values_df_netflix_release_year}')
print(f'Duplicated values-release_year column: {duplicated_values_df_netflix_release_year}')
print(f'Total values-release_year column: {total_values_df_netflix_release_year}')

Missing values-release_year column: 0
Duplicated values-release_year column: 8733
Total values-release_year column: 8807

In [77]:
#rating column
missing_values_df_netflix_rating = df_netflix['rating'].isna().sum()
duplicated_values_df_netflix_rating = df_netflix['rating'].duplicated().sum()
total_values_df_netflix_rating = df_netflix['rating'].count()

print(f'Missing values-rating column: {missing_values_df_netflix_rating}')
print(f'Duplicated values-rating column: {duplicated_values_df_netflix_rating}')
print(f'Total values-rating column: {total_values_df_netflix_rating}')

Missing values-rating column: 4
Duplicated values-rating column: 8789
Total values-rating column: 8803

In [78]:
#duration column
missing_values_df_netflix_duration = df_netflix['duration'].isna().sum()
duplicated_values_df_netflix_duration = df_netflix['duration'].duplicated().sum()
total_values_df_netflix_duration = df_netflix['duration'].count()

print(f'Missing values-duration column: {missing_values_df_netflix_duration}')
print(f'Duplicated values-duration column: {duplicated_values_df_netflix_duration}')
print(f'Total values-duration column: {total_values_df_netflix_duration}')

Missing values-duration column: 3
Duplicated values-duration column: 8586
Total values-duration column: 8804

In [79]:
#listed_in column
missing_values_df_netflix_listed_in = df_netflix['listed_in'].isna().sum()
duplicated_values_df_netflix_listed_in = df_netflix['listed_in'].duplicated().sum()
total_values_df_netflix_listed_in = df_netflix['listed_in'].count()

print(f'Missing values-listed_in column: {missing_values_df_netflix_listed_in}')
print(f'Duplicated values-listed_in column: {duplicated_values_df_netflix_listed_in}')
print(f'Total values-listed_in column: {total_values_df_netflix_listed_in}')

Missing values-listed_in column: 0
Duplicated values-listed_in column: 8293
Total values-listed_in column: 8807

In [80]:
#description column
missing_values_df_netflix_description = df_netflix['description'].isna().sum()
duplicated_values_df_netflix_description = df_netflix['description'].duplicated().sum()
total_values_df_netflix_description = df_netflix['description'].count()

print(f'Missing values-description column: {missing_values_df_netflix_description}')
print(f'Duplicated values-description column: {duplicated_values_df_netflix_description}')
print(f'Total values-description column: {total_values_df_netflix_description}')

Missing values-description column: 0
Duplicated values-description column: 32
Total values-description column: 8807

##Data Cleaning

In [81]:
#show_id column

#Missing values-show_id column: 0
#Duplicated values-show_id column: 0
#Total values-show_id column: 8807

#8807 total values, let's convert to string, strip of white spaces, and make sure that each show_id
#follows this pattern s[i] where i goes from 1 to 8807

#convert to string
df_netflix['show_id'] = df_netflix['show_id'].astype(str)

#strip of white spaces
df_netflix['show_id'] = df_netflix['show_id'].str.strip()

#make sure all values converted to str
df_netflix['show_id'].map(type).unique()

#sometimes CSV or Excel imports add invisible characters that strip() won’t catch
#this keeps only standard ASCII characters
df_netflix['show_id'] = df_netflix['show_id'].str.replace(r"[^\x00-\x7F]+", "", regex=True)

import re

#define the regex pattern
pattern_s = r"^s\d+$"   # starts with 's' followed by one or more digits

#check which rows match the pattern
mask = df_netflix['show_id'].str.match(pattern_s)

#see how many don't match
invalid_count = (~mask).sum()
print(f"Number of invalid show_id entries: {invalid_count}")

print("show_id column is fully clean and validated")

Number of invalid show_id entries: 0
show_id column is fully clean and validated

In [82]:
#type column

#Missing values-type column: 0
#Duplicated values-type column: 8805
#Total values-type column: 8807

#looks like it only stores 2 values: "Movie" & "TV Show"

#convert to string
df_netflix['type'] = df_netflix['type'].astype(str)

#strip of white spaces
df_netflix['type'] = df_netflix['type'].str.strip()

#make sure all values converted to str
df_netflix['type'].map(type).unique()

#sometimes CSV or Excel imports add invisible characters that strip() won’t catch
#this keeps only standard ASCII characters
df_netflix['type'] = df_netflix['type'].str.replace(r"[^\x00-\x7F]+", "", regex=True)

import re

#define the regex pattern (only "Movie" or "TV Show", case-sensitive)
pattern_t = r"^(Movie|TV Show)$"

#check which rows match the pattern
mask = df_netflix['type'].str.match(pattern_t)

#see how many don't match
invalid_count = (~mask).sum()
print(f"Number of invalid show_id entries: {invalid_count}")

print("type column is fully clean and validated")

Number of invalid show_id entries: 0
type column is fully clean and validated

In [83]:
#title column

#Missing values-title column: 0
#Duplicated values-title column: 0
#Total values-title column: 8807

#convert to string
df_netflix['title'] = df_netflix['title'].astype(str)

#on this column I don't need to strip of white spaces

#check how many countries have special characters
#regex pattern: anything that is not a letter, number, space
pattern = r"[^a-zA-Z0-9\s]"

#create a boolean column: True if the title contains special characters
df_netflix['has_special_char'] = df_netflix['title'].str.contains(pattern)

#count how many titles have special characters
special_char_count = df_netflix['has_special_char'].sum()
print(f"Titles with special characters: {special_char_count}")

#see which titles have special characters
df_netflix[df_netflix['has_special_char']]

#show the first 50 titles that contain special characters
df_netflix[df_netflix['has_special_char']]['title'].head(50)

Titles with special characters: 2529

1                                          Blood & Water
6                       My Little Pony: A New Generation
10                   Vendetta: Truth, Lies and The Mafia
14                       Crime Stories: India Detectives
16     Europe's Most Dangerous Man: Otto Skorzeny in ...
20       Monsters Inside: The 24 Faces of Billy Milligan
21                                Resurrection: Ertugrul
23          Go! Go! Cory Carson: Chrissy Takes the Wheel
40                He-Man and the Masters of the Universe
44                                     Jaws: The Revenge
51     InuYasha the Movie 2: The Castle Beyond the Lo...
52     InuYasha the Movie 3: Swords of an Honorable R...
53       InuYasha the Movie 4: Fire on the Mystic Island
54     InuYasha the Movie: Affections Touching Across...
56              Naruto Shippuden the Movie: Blood Prison
57                     Naruto Shippûden the Movie: Bonds
58          Naruto Shippûden the Movie: The Will of Fire
59                           Naruto Shippuden: The Movie
60           Naruto Shippuden: The Movie: The Lost Tower
61      Naruto the Movie 2: Legend of the Stone of Gelel
62     Naruto the Movie 3: Guardians of the Crescent ...
63     Naruto the Movie: Ninja Clash in the Land of Snow
70                             Too Hot To Handle: Latino
72                Jack Whitehall: Travels with My Father
74             The World's Most Amazing Vacation Rentals
75                                You vs. Wild: Out Cold
77                         Little Singham - Black Shadow
79                               Tughlaq Durbar (Telugu)
84                                  Omo Ghetto: the Saga
85                   Pokémon Master Journeys: The Series
88              Blood Brothers: Malcolm X & Muhammad Ali
93                                                  JJ+E
96     If I Leave Here Tomorrow: A Film About Lynyrd ...
98                             Octonauts: Above & Beyond
101                               Untold: Breaking Point
102             Countdown: Inspiration4 Mission to Space
106                                               Bunk'd
110                    Money Heist: From Tokyo to Berlin
124                          Pororo - The Little Penguin
125                                              Q-Force
128                      Agatha Christie's Crooked House
131                          Blade Runner: The Final Cut
140                  El patrón, radiografía de un crimen
152                        Janoskians: Untold and Untrue
153                                           Kid-E-Cats
154                                  Kuroko's Basketball
158                              Love Don't Cost a Thing
161                                        Mars Attacks!
163                                   My Boss's Daughter
170                                       Rhyme & Reason
Name: title, dtype: object

In [84]:
#director column

#Missing values-director column: 2634 [Initial]
#Duplicated values-director column: 4278
#Total values-director column: 6173

#convert to string
df_netflix['director'] = df_netflix['director'].astype(str)

#on this column I don't need to strip of white spaces

#check how many countries have special characters
#regex pattern: anything that is not a letter, number, space
pattern = r"[^a-zA-Z0-9\s]"

#create a boolean column: True if the director contains special characters
df_netflix['has_special_char'] = df_netflix['director'].str.contains(pattern)

#count how many directors have special characters
special_char_count = df_netflix['has_special_char'].sum()
print(f"Directors with special characters: {special_char_count}")

#count all commas that directors have
comma_count = df_netflix['director'].str.contains(',').sum()
print(f"Directors with a comma: {comma_count}")

#see which directors have special characters
df_netflix[df_netflix['has_special_char']]

#show the first 50 directors that contain special characters
df_netflix[df_netflix['has_special_char']]['director'].head(50)

#handle missing values
df_netflix['director'].fillna('Unknown', inplace=True)

Directors with special characters: 1314
Directors with a comma: 614

In [85]:
#cast column

#Missing values-cast column: 825 [Initial]
#Duplicated values-cast column: 1114
#Total values-cast column: 7982

#convert to string
df_netflix['cast'] = df_netflix['cast'].astype(str)

#on this column I don't need to strip of white spaces

#check how many countries have special characters
#regex pattern: anything that is not a letter, number, space
pattern = r"[^a-zA-Z0-9\s]"

#create a boolean column: True if the cast members contains special characters
df_netflix['has_special_char'] = df_netflix['cast'].str.contains(pattern)

#count how many cast members have special characters
special_char_count = df_netflix['has_special_char'].sum()
print(f"Cast members with special characters: {special_char_count}")

#count all commas that cast members have
comma_count = df_netflix['cast'].str.contains(',').sum()
print(f"Cast members with a comma: {comma_count}")

#see which cast members have special characters
df_netflix[df_netflix['has_special_char']]

#show the first 50 cast members that contain special characters
df_netflix[df_netflix['has_special_char']]['cast'].head(50)

#handle missing values
df_netflix['cast'].fillna('Unknown', inplace=True)

Cast members with special characters: 7180
Cast members with a comma: 7101

In [86]:
#country column

#Missing values-country column: 831 [Initial]
#Duplicated values-country column: 8058
#Total values-country column: 7976

#convert to string
df_netflix['country'] = df_netflix['country'].astype(str)

#strip of white spaces
df_netflix['country'] = df_netflix['country'].str.strip()

#check how many countries have special characters
#regex pattern: anything that is not a letter, number, space
pattern = r"[^a-zA-Z0-9\s]"

#create a boolean column: True if the countries contain special characters
df_netflix['has_special_char'] = df_netflix['country'].str.contains(pattern)

#count how many countries have special characters
special_char_count = df_netflix['has_special_char'].sum()
print(f"Countries with special characters: {special_char_count}")

#count all commas that countries have
comma_count = df_netflix['country'].str.contains(',').sum()
print(f"Countries with a comma: {comma_count}")

#see which countries have special characters
df_netflix[df_netflix['has_special_char']]

#show the first 50 countries that contain special characters
df_netflix[df_netflix['has_special_char']]['country'].head(50)

#handle missing values
df_netflix['country'].fillna('Unknown', inplace=True)

Countries with special characters: 1320
Countries with a comma: 1320

In [87]:
#date_added column

#Missing values-date_added column: 10
#Duplicated values-date_added column: 7039
#Total values-date_added column: 8797

#convert to date type, strip off white spaces and coerce invalid formats to NaT
df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'].astype(str).str.strip(), errors='coerce')

#confirm the conversion
df_netflix['date_added'].dtype

#confirm missing values are NaT (10 missing values -> output: np.int64(10))
df_netflix['date_added'].isna().sum()

np.int64(10)

In [88]:
#release_year column

#Missing values-release_year column: 0
#Duplicated values-release_year column: 8733
#Total values-release_year column: 8807

#convert to int
df_netflix['release_year'] = df_netflix['release_year'].astype(int)

#convert release_year to string for regex checking
release_year_str = df_netflix['release_year'].astype(str)

#regex pattern for 4-digit years
pattern = r'^\d{4}$'

#boolean mask -> true if it matches 4-digit pattern
is_valid_year = release_year_str.str.match(pattern)

#count how many are valid 4-digit years
valid_count = is_valid_year.sum()

#count how many are not valid
invalid_count = (~is_valid_year).sum()

print(f"Valid 4-digit release_year: {valid_count}")
print(f"Invalid release_year: {invalid_count}")

Valid 4-digit release_year: 8807
Invalid release_year: 0

In [89]:
#rating column -> common values: PG-13, TV-MA, PG, TV-14, TV-PG, TV-Y, TV-Y7, R

#Missing values-rating column: 4 [Initial]
#Duplicated values-rating column: 8789
#Total values-rating column: 8803

#convert rating to string, strip of white spaces, handle missing values
df_netflix['rating'] = df_netflix['rating'].astype(str).str.strip().fillna('Unknown')

#confirm most common values
rating_counts = df_netflix['rating'].value_counts()
print(rating_counts)

#clean anomalies (66 min, 74 min, 84 min)
valid_ratings = {
    'PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG',
    'TV-Y', 'TV-Y7', 'R', 'TV-G', 'NR', 'G', 'TV-Y7-FV', 'NC-17', 'UR', 'Unknown'
}

df_netflix['rating'] = df_netflix['rating'].apply(lambda x: x if x in valid_ratings else 'Unknown')

rating
TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
nan            4
NC-17          3
UR             3
66 min         1
74 min         1
84 min         1
Name: count, dtype: int64

In [90]:
#duration column -> common values: 1 Season, 90 min, 2 Seasons, 125 min, 9 Seasons

#Missing values-duration column: 3 [Initial]
#Duplicated values-duration column: 8586
#Total values-duration column: 8804

#convert rating to string, strip of white spaces, handle missing values
df_netflix['duration'] = df_netflix['duration'].astype(str).str.strip().fillna('Unknown')

#remove all whitespace characters, including hidden ones
df_netflix['duration'] = df_netflix['duration'].str.replace(r'\s+', '', regex=True)

#define regex patterns
pattern_season_singular = r'^\d+Season$'
pattern_season_plural = r'^\d+Seasons$'
pattern_minutes = r'^\d+min$'

#create masks and check how many values are matching the pattern
mask_season = df_netflix['duration'].str.match(pattern_season_singular)
mask_seasons = df_netflix['duration'].str.match(pattern_season_plural)
mask_min = df_netflix['duration'].str.match(pattern_minutes)

#combine all valid masks into one
mask_valid = mask_season | mask_seasons | mask_min

#count how many values are valid vs invalid
valid_count = mask_valid.sum()
invalid_count = (~mask_valid).sum()

print(f"Valid duration values: {valid_count}")
print(f"Invalid duration values: {invalid_count}")

#display invalid ones
df_netflix.loc[~mask_valid, 'duration'].value_counts()

#df_netflix['duration'].value_counts()

Valid duration values: 8804
Invalid duration values: 3

duration
nan    3
Name: count, dtype: int64

In [91]:
#listed_in column

#Missing values-listed_in column: 0
#Duplicated values-listed_in column: 8293
#Total values-listed_in column: 8807

#convert listed_in to string
df_netflix['listed_in'] = df_netflix['listed_in'].astype(str)

#confirm most common values
listed_in_counts = df_netflix['listed_in'].value_counts()
print(listed_in_counts)

#remove unnecessary single quotes and any leading/trailing whitespace
#example: "Kids' TV" → "Kids TV"
df_netflix['listed_in'] = (
    df_netflix['listed_in']
    .str.replace("'", "", regex=False)  #remove single quotes
    .str.strip()  #removes spaces at the beginning and end of the entire string, not the ones inside it
    .str.replace(r'\s*,\s*', ',', regex=True)  #remove spaces around commas
)

#example of correct values -> [Reality TV], [TV Horror, Teen TV Shows]
#[TV Action & Adventure, TV Sci-Fi & Fantasy], [International TV Shows, Romantic TV Shows, TV Dramas]
#define regex pattern (allows letters, spaces, '&', and '-' within values; comma separates values)
pattern_valid = r'^[A-Za-z&\-\s]+(,\s*[A-Za-z&\-\s]+)*$'

#create mask for valid vs invalid values
mask_valid = df_netflix['listed_in'].str.match(pattern_valid)

#count valid vs invalid
print(f"Valid 'listed_in' values: {mask_valid.sum()}")
print(f"Invalid 'listed_in' values: {(~mask_valid).sum()}")

#display invalid ones
df_netflix.loc[~mask_valid, 'listed_in'].value_counts()

listed_in
Dramas, International Movies                        362
Documentaries                                       359
Stand-Up Comedy                                     334
Comedies, Dramas, International Movies              274
Dramas, Independent Movies, International Movies    252
                                                   ...
Action & Adventure, Cult Movies                       1
Action & Adventure, Comedies, Music & Musicals        1
Classic Movies, Horror Movies, Thrillers              1
Children & Family Movies, Classic Movies, Dramas      1
Cult Movies, Dramas, Thrillers                        1
Name: count, Length: 514, dtype: int64
Valid 'listed_in' values: 8807
Invalid 'listed_in' values: 0

Series([], Name: count, dtype: int64)

In [92]:
#description column

#Missing values-description column: 0

#Duplicated values-description column: 32 -> this counts all rows that are duplicates of a
#previous row in the original description column
#keeping only the first occurrence as "not duplicate"
#if the same description appears 2 or 3 times, only the second and third occurrences are counted

#Total values-description column: 8807

#convert description to string
df_netflix['description'] = df_netflix['description'].astype(str)

#normalize descriptions: strip, replace multiple spaces with single, remove non-breaking spaces
df_netflix['description_clean'] = (
    df_netflix['description']
    .str.strip()                             #remove leading/trailing spaces
    .str.replace(r'\s+', ' ', regex=True)    #normalize multiple spaces to single
    .str.replace('\xa0', '', regex=False)    #remove non-breaking spaces
)

#drop rows where the title is a date (found out 3 titles where this behavior exists)
df_netflix = df_netflix.loc[~df_netflix['title'].isin([
    '22 July', '22-Jul',
    'February 9', 'Feb-09',
    '15 August', '15-Aug'
])]

#check how many titles in the title column contain the ['22 July', '22-Jul'] type of double pattern
#result -> 0

#remove '\xa0' (found out 1 occurence of this behavior -> Titles: ['Consequences', 'Consequences\xa0'])
df_netflix['title_clean'] = df_netflix['title'].str.strip().str.replace('\xa0', '', regex=False)

#find all duplicated cleaned descriptions
duplicated_descriptions = df_netflix[df_netflix.duplicated(subset='description_clean', keep=False)]

#group by cleaned description and show cleaned titles
for desc, group in duplicated_descriptions.groupby('description_clean'):
    print("Description:", desc)
    print("Titles:", group['title_clean'].tolist())
    print("-" * 60)

#total duplicated rows -> all rows that share a duplicated description
total_dup_rows = duplicated_descriptions.shape[0]

#total unique duplicated descriptions
unique_dup_desc = duplicated_descriptions['description_clean'].nunique()

print(f"Total duplicated rows: {total_dup_rows}")
print(f"Unique duplicated descriptions: {unique_dup_desc}")

Description: A budding politician has devious plans to rise in the ranks — until an unexpected new presence begins to interfere with his every crooked move.
Titles: ['Tughlaq Durbar', 'Tughlaq Durbar (Telugu)']
------------------------------------------------------------
Description: A scheming matriarch plots to cut off her disabled stepson and his wife from the family fortune, creating a division within the clan.
Titles: ['Together For Eternity', 'Hum Saath-Saath Hain']
------------------------------------------------------------
Description: A surly septuagenarian gets another chance at her 20s after having her photo snapped at a studio that magically takes 50 years off her life.
Titles: ['Oh! Baby (Malayalam)', 'Oh! Baby (Tamil)', 'Oh! Baby']
------------------------------------------------------------
Description: A young Han Solo tries to settle an old score with the help of his new buddy Chewbacca, a crew of space smugglers and a cunning old friend.
Titles: ['Solo: A Star Wars Story', 'Solo: A Star Wars Story (Spanish Version)']
------------------------------------------------------------
Description: After growing up enduring criticism from his father, a young man finds his world shaken upon learning he was switched at birth with a millionaire’s son.
Titles: ['Angu Vaikuntapurathu (Malayalam)', 'Ala Vaikunthapurramuloo']
------------------------------------------------------------
Description: An affable, newly appointed college warden proves to be no ordinary man when an old enemy resurfaces and exposes his complicated, violent past.
Titles: ['Petta (Telugu Version)', 'Petta']
------------------------------------------------------------
Description: An aspiring musician battles age-old caste divides to be able to learn the art of a classical instrument from a traditionalist, veteran percussionist.
Titles: ['Sarvam Thaala Mayam (Telugu Version)', 'Sarvam Thaala Mayam (Tamil Version)']
------------------------------------------------------------
Description: As a blind librarian, dispirited cricketer and desolate psychiatrist each seek retribution and release, their lives overlap under eerie influences.
Titles: ['Andhaghaaram', 'Andhakaaram']
------------------------------------------------------------
Description: As a series of murders hit close to home, a video game designer with post-traumatic stress must confront her demons, or risk becoming their victim.
Titles: ['Game Over (Hindi Version)', 'Game Over (Tamil Version)']
------------------------------------------------------------
Description: As a woman scours Hyderabad for her missing husband, she becomes entangled in a conspiracy that suggests there’s more to the mystery than meets the eye.
Titles: ['Anaamika', 'Nee Enge En Anbe']
------------------------------------------------------------
Description: Born into a small town controlled by the mafia, an irate young woman seeks revenge on the forces that tore apart and wrongfully imprisoned her family.
Titles: ['Sin senos sí hay paraíso', 'Sin Senos sí Hay Paraíso']
------------------------------------------------------------
Description: Challenged to compose 100 songs before he can marry the girl he loves, a tortured but passionate singer-songwriter embarks on a poignant musical journey.
Titles: ['99 Songs', '99 Songs (Tamil)', '99 Songs (Telugu)']
------------------------------------------------------------
Description: Cora has three sons and a daughter and she´s almost 80. One day during a family reunion the big question comes up: who will be her heir?
Titles: ['Esperando la carroza', 'Esperando La Carroza']
------------------------------------------------------------
Description: From controversial cartoonist to powerful Mumbai politician, this biopic maps the meteoric rise of far-right Shiv Sena party founder, Bal Thackeray.
Titles: ['Thackeray (Hindi)', 'Thackeray']
------------------------------------------------------------
Description: Mistakenly accused of an attack on the Fourth Raikage, ninja Naruto is imprisoned in the impenetrable Hozuki Castle and his powers are sealed.
Titles: ['Naruto Shippuden the Movie: Blood Prison', 'Naruto Shippuden : Blood Prison']
------------------------------------------------------------
Description: Multiple women report their husbands as missing but when it appears they are looking for the same man, a police officer traces their cryptic connection.
Titles: ['Seven (Tamil)', 'Seven (Telugu)', '7 (Seven)']
------------------------------------------------------------
Description: Paranormal activity at a lush, abandoned property alarms a group eager to redevelop the site, but the eerie events may not be as unearthly as they think.
Titles: ['Boomika', 'Boomika (Hindi)', 'Boomika (Malayalam)', 'Boomika (Telugu)']
------------------------------------------------------------
Description: Secrets bubble to the surface after a sensual encounter and an unforeseen crime entangle two friends and a woman caught between them.
Titles: ['Consequences', 'Consequences']
------------------------------------------------------------
Description: The Great Dog Demon beaqueathed one of the Three Swords of the Fang to each of his two sons. Now the evil power of the third sword has been awakened.
Titles: ['InuYasha the Movie 3: Swords of an Honorable Ruler', 'Inuyasha the Movie - La spada del dominatore del mondo']
------------------------------------------------------------
Description: This educational series for tiny tots features a toe-tapping spin on nursery rhymes with upbeat tunes and a diverse set of easy-to-follow lessons.
Titles: ['ChuChu TV Nursery Rhymes & Kids Songs (Hindi)', 'ChuChu TV Kids Songs, Learning Videos & Bedtime Stories']
------------------------------------------------------------
Description: Two quirky cats, Ollie and Moon, and their friend Stanley the snail travel the world, solving everyday problems and learning about different cultures.
Titles: ['The Ollie & Moon Show', 'Ollie & Moon']
------------------------------------------------------------
Description: When Elastigirl gets recruited for a high-profile crime-fighting mission, Mr. Incredible takes on his toughest assignment ever: full-time parenting.
Titles: ['Incredibles 2 (Spanish Version)', 'The Incredibles 2']
------------------------------------------------------------
Description: When pretty new neighbor Seema falls for their shy roommate Sid, jealous womanizers Omi and Jai plot to break up the new lovebirds.
Titles: ['Chashme Baddoor', 'Chashme Buddoor']
------------------------------------------------------------
Description: With their biggest foe seemingly defeated, InuYasha and his friends return to everyday life. But the peace is soon shattered by an emerging new enemy.
Titles: ['InuYasha the Movie 2: The Castle Beyond the Looking Glass', 'InuYasha: The Movie 2: The Castle Beyond the Looking Glass']
------------------------------------------------------------
Total duplicated rows: 53
Unique duplicated descriptions: 24