#Netflix Movies and TV Shows

In [1]:
import pandas as pd
import numpy as np

##Data Exploration

In [2]:
df_netflix = pd.read_csv("/content/netflix_titles.csv")

In [3]:
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [4]:
df_netflix.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [5]:
#show_id column
missing_values_df_netflix_show_id = df_netflix['show_id'].isna().sum()
duplicated_values_df_netflix_show_id = df_netflix['show_id'].duplicated().sum()
total_values_df_netflix_show_id = df_netflix['show_id'].count()

print(f'Missing values-show_id column: {missing_values_df_netflix_show_id}')
print(f'Duplicated values-show_id column: {duplicated_values_df_netflix_show_id}')
print(f'Total values-show_id column: {total_values_df_netflix_show_id}')

Missing values-show_id column: 0
Duplicated values-show_id column: 0
Total values-show_id column: 8807

In [6]:
#type column
missing_values_df_netflix_type = df_netflix['type'].isna().sum()
duplicated_values_df_netflix_type = df_netflix['type'].duplicated().sum()
total_values_df_netflix_type = df_netflix['type'].count()

print(f'Missing values-type column: {missing_values_df_netflix_type}')
print(f'Duplicated values-type column: {duplicated_values_df_netflix_type}')
print(f'Total values-type column: {total_values_df_netflix_type}')

Missing values-type column: 0
Duplicated values-type column: 8805
Total values-type column: 8807

In [7]:
#title column
missing_values_df_netflix_title = df_netflix['title'].isna().sum()
duplicated_values_df_netflix_title = df_netflix['title'].duplicated().sum()
total_values_df_netflix_title = df_netflix['title'].count()

print(f'Missing values-title column: {missing_values_df_netflix_title}')
print(f'Duplicated values-title column: {duplicated_values_df_netflix_title}')
print(f'Total values-title column: {total_values_df_netflix_title}')

Missing values-title column: 0
Duplicated values-title column: 0
Total values-title column: 8807

In [8]:
#director column
missing_values_df_netflix_director = df_netflix['director'].isna().sum()
duplicated_values_df_netflix_director = df_netflix['director'].duplicated().sum()
total_values_df_netflix_director = df_netflix['director'].count()

print(f'Missing values-director column: {missing_values_df_netflix_director}')
print(f'Duplicated values-director column: {duplicated_values_df_netflix_director}')
print(f'Total values-director column: {total_values_df_netflix_director}')

Missing values-director column: 2634
Duplicated values-director column: 4278
Total values-director column: 6173

In [9]:
#cast column
missing_values_df_netflix_cast = df_netflix['cast'].isna().sum()
duplicated_values_df_netflix_cast = df_netflix['cast'].duplicated().sum()
total_values_df_netflix_cast = df_netflix['cast'].count()

print(f'Missing values-cast column: {missing_values_df_netflix_cast}')
print(f'Duplicated values-cast column: {duplicated_values_df_netflix_cast}')
print(f'Total values-cast column: {total_values_df_netflix_cast}')

Missing values-cast column: 825
Duplicated values-cast column: 1114
Total values-cast column: 7982

In [10]:
#country column
missing_values_df_netflix_country = df_netflix['country'].isna().sum()
duplicated_values_df_netflix_country = df_netflix['country'].duplicated().sum()
total_values_df_netflix_country = df_netflix['country'].count()

print(f'Missing values-country column: {missing_values_df_netflix_country}')
print(f'Duplicated values-country column: {duplicated_values_df_netflix_country}')
print(f'Total values-country column: {total_values_df_netflix_country}')

Missing values-country column: 831
Duplicated values-country column: 8058
Total values-country column: 7976

In [11]:
#date_added column
missing_values_df_netflix_date_added = df_netflix['date_added'].isna().sum()
duplicated_values_df_netflix_date_added = df_netflix['date_added'].duplicated().sum()
total_values_df_netflix_date_added = df_netflix['date_added'].count()

print(f'Missing values-date_added column: {missing_values_df_netflix_date_added}')
print(f'Duplicated values-date_added column: {duplicated_values_df_netflix_date_added}')
print(f'Total values-date_added column: {total_values_df_netflix_date_added}')

Missing values-date_added column: 10
Duplicated values-date_added column: 7039
Total values-date_added column: 8797

In [12]:
#release_year column
missing_values_df_netflix_release_year = df_netflix['release_year'].isna().sum()
duplicated_values_df_netflix_release_year = df_netflix['release_year'].duplicated().sum()
total_values_df_netflix_release_year = df_netflix['release_year'].count()

print(f'Missing values-release_year column: {missing_values_df_netflix_release_year}')
print(f'Duplicated values-release_year column: {duplicated_values_df_netflix_release_year}')
print(f'Total values-release_year column: {total_values_df_netflix_release_year}')

Missing values-release_year column: 0
Duplicated values-release_year column: 8733
Total values-release_year column: 8807

In [39]:
#rating column
missing_values_df_netflix_rating = df_netflix['rating'].isna().sum()
duplicated_values_df_netflix_rating = df_netflix['rating'].duplicated().sum()
total_values_df_netflix_rating = df_netflix['rating'].count()

print(f'Missing values-rating column: {missing_values_df_netflix_rating}')
print(f'Duplicated values-rating column: {duplicated_values_df_netflix_rating}')
print(f'Total values-rating column: {total_values_df_netflix_rating}')

Missing values-rating column: 0
Duplicated values-rating column: 8792
Total values-rating column: 8807

In [14]:
#duration column
missing_values_df_netflix_duration = df_netflix['duration'].isna().sum()
duplicated_values_df_netflix_duration = df_netflix['duration'].duplicated().sum()
total_values_df_netflix_duration = df_netflix['duration'].count()

print(f'Missing values-duration column: {missing_values_df_netflix_duration}')
print(f'Duplicated values-duration column: {duplicated_values_df_netflix_duration}')
print(f'Total values-duration column: {total_values_df_netflix_duration}')

Missing values-duration column: 3
Duplicated values-duration column: 8586
Total values-duration column: 8804

In [15]:
#listed_in column
missing_values_df_netflix_listed_in = df_netflix['listed_in'].isna().sum()
duplicated_values_df_netflix_listed_in = df_netflix['listed_in'].duplicated().sum()
total_values_df_netflix_listed_in = df_netflix['listed_in'].count()

print(f'Missing values-listed_in column: {missing_values_df_netflix_listed_in}')
print(f'Duplicated values-listed_in column: {duplicated_values_df_netflix_listed_in}')
print(f'Total values-listed_in column: {total_values_df_netflix_listed_in}')

Missing values-listed_in column: 0
Duplicated values-listed_in column: 8293
Total values-listed_in column: 8807

In [16]:
#description column
missing_values_df_netflix_description = df_netflix['description'].isna().sum()
duplicated_values_df_netflix_description = df_netflix['description'].duplicated().sum()
total_values_df_netflix_description = df_netflix['description'].count()

print(f'Missing values-description column: {missing_values_df_netflix_description}')
print(f'Duplicated values-description column: {duplicated_values_df_netflix_description}')
print(f'Total values-description column: {total_values_df_netflix_description}')

Missing values-description column: 0
Duplicated values-description column: 32
Total values-description column: 8807

##Data Cleaning

In [17]:
#show_id column

#Missing values-show_id column: 0
#Duplicated values-show_id column: 0
#Total values-show_id column: 8807

#8807 total values, let's convert to string, strip of white spaces, and make sure that each show_id
#follows this pattern s[i] where i goes from 1 to 8807

#convert to string
df_netflix['show_id'] = df_netflix['show_id'].astype(str)

#strip of white spaces
df_netflix['show_id'] = df_netflix['show_id'].str.strip()

#make sure all values converted to str
df_netflix['show_id'].map(type).unique()

#sometimes CSV or Excel imports add invisible characters that strip() won’t catch
#this keeps only standard ASCII characters
df_netflix['show_id'] = df_netflix['show_id'].str.replace(r"[^\x00-\x7F]+", "", regex=True)

import re

#define the regex pattern
pattern_s = r"^s\d+$"   # starts with 's' followed by one or more digits

#check which rows match the pattern
mask = df_netflix['show_id'].str.match(pattern_s)

#see how many don't match
invalid_count = (~mask).sum()
print(f"Number of invalid show_id entries: {invalid_count}")

print("show_id column is fully clean and validated")

Number of invalid show_id entries: 0
show_id column is fully clean and validated

In [18]:
#type column

#Missing values-type column: 0
#Duplicated values-type column: 8805
#Total values-type column: 8807

#looks like it only stores 2 values: "Movie" & "TV Show"

#convert to string
df_netflix['type'] = df_netflix['type'].astype(str)

#strip of white spaces
df_netflix['type'] = df_netflix['type'].str.strip()

#make sure all values converted to str
df_netflix['type'].map(type).unique()

#sometimes CSV or Excel imports add invisible characters that strip() won’t catch
#this keeps only standard ASCII characters
df_netflix['type'] = df_netflix['type'].str.replace(r"[^\x00-\x7F]+", "", regex=True)

import re

#define the regex pattern (only "Movie" or "TV Show", case-sensitive)
pattern_t = r"^(Movie|TV Show)$"

#check which rows match the pattern
mask = df_netflix['type'].str.match(pattern_t)

#see how many don't match
invalid_count = (~mask).sum()
print(f"Number of invalid show_id entries: {invalid_count}")

print("type column is fully clean and validated")

Number of invalid show_id entries: 0
type column is fully clean and validated

In [19]:
#title column

#Missing values-title column: 0
#Duplicated values-title column: 0
#Total values-title column: 8807

#convert to string
df_netflix['title'] = df_netflix['title'].astype(str)

#on this column I don't need to strip of white spaces

#check how many countries have special characters
#regex pattern: anything that is not a letter, number, space
pattern = r"[^a-zA-Z0-9\s]"

#create a boolean column: True if the title contains special characters
df_netflix['has_special_char'] = df_netflix['title'].str.contains(pattern)

#count how many titles have special characters
special_char_count = df_netflix['has_special_char'].sum()
print(f"Titles with special characters: {special_char_count}")

#see which titles have special characters
df_netflix[df_netflix['has_special_char']]

#show the first 50 titles that contain special characters
df_netflix[df_netflix['has_special_char']]['title'].head(50)

Titles with special characters: 2529

1                                          Blood & Water
6                       My Little Pony: A New Generation
10                   Vendetta: Truth, Lies and The Mafia
14                       Crime Stories: India Detectives
16     Europe's Most Dangerous Man: Otto Skorzeny in ...
20       Monsters Inside: The 24 Faces of Billy Milligan
21                                Resurrection: Ertugrul
23          Go! Go! Cory Carson: Chrissy Takes the Wheel
40                He-Man and the Masters of the Universe
44                                     Jaws: The Revenge
51     InuYasha the Movie 2: The Castle Beyond the Lo...
52     InuYasha the Movie 3: Swords of an Honorable R...
53       InuYasha the Movie 4: Fire on the Mystic Island
54     InuYasha the Movie: Affections Touching Across...
56              Naruto Shippuden the Movie: Blood Prison
57                     Naruto Shippûden the Movie: Bonds
58          Naruto Shippûden the Movie: The Will of Fire
59                           Naruto Shippuden: The Movie
60           Naruto Shippuden: The Movie: The Lost Tower
61      Naruto the Movie 2: Legend of the Stone of Gelel
62     Naruto the Movie 3: Guardians of the Crescent ...
63     Naruto the Movie: Ninja Clash in the Land of Snow
70                             Too Hot To Handle: Latino
72                Jack Whitehall: Travels with My Father
74             The World's Most Amazing Vacation Rentals
75                                You vs. Wild: Out Cold
77                         Little Singham - Black Shadow
79                               Tughlaq Durbar (Telugu)
84                                  Omo Ghetto: the Saga
85                   Pokémon Master Journeys: The Series
88              Blood Brothers: Malcolm X & Muhammad Ali
93                                                  JJ+E
96     If I Leave Here Tomorrow: A Film About Lynyrd ...
98                             Octonauts: Above & Beyond
101                               Untold: Breaking Point
102             Countdown: Inspiration4 Mission to Space
106                                               Bunk'd
110                    Money Heist: From Tokyo to Berlin
124                          Pororo - The Little Penguin
125                                              Q-Force
128                      Agatha Christie's Crooked House
131                          Blade Runner: The Final Cut
140                  El patrón, radiografía de un crimen
152                        Janoskians: Untold and Untrue
153                                           Kid-E-Cats
154                                  Kuroko's Basketball
158                              Love Don't Cost a Thing
161                                        Mars Attacks!
163                                   My Boss's Daughter
170                                       Rhyme & Reason
Name: title, dtype: object

In [20]:
#director column

#Missing values-director column: 2634 [Initial]
#Duplicated values-director column: 4278
#Total values-director column: 6173

#convert to string
df_netflix['director'] = df_netflix['director'].astype(str)

#on this column I don't need to strip of white spaces

#check how many countries have special characters
#regex pattern: anything that is not a letter, number, space
pattern = r"[^a-zA-Z0-9\s]"

#create a boolean column: True if the director contains special characters
df_netflix['has_special_char'] = df_netflix['director'].str.contains(pattern)

#count how many directors have special characters
special_char_count = df_netflix['has_special_char'].sum()
print(f"Directors with special characters: {special_char_count}")

#count all commas that directors have
comma_count = df_netflix['director'].str.contains(',').sum()
print(f"Directors with a comma: {comma_count}")

#see which directors have special characters
df_netflix[df_netflix['has_special_char']]

#show the first 50 directors that contain special characters
df_netflix[df_netflix['has_special_char']]['director'].head(50)

#handle missing values
df_netflix['director'].fillna('Unknown', inplace=True)

Directors with special characters: 1314
Directors with a comma: 614

In [21]:
#cast column

#Missing values-cast column: 825 [Initial]
#Duplicated values-cast column: 1114
#Total values-cast column: 7982

#convert to string
df_netflix['cast'] = df_netflix['cast'].astype(str)

#on this column I don't need to strip of white spaces

#check how many countries have special characters
#regex pattern: anything that is not a letter, number, space
pattern = r"[^a-zA-Z0-9\s]"

#create a boolean column: True if the cast members contains special characters
df_netflix['has_special_char'] = df_netflix['cast'].str.contains(pattern)

#count how many cast members have special characters
special_char_count = df_netflix['has_special_char'].sum()
print(f"Cast members with special characters: {special_char_count}")

#count all commas that cast members have
comma_count = df_netflix['cast'].str.contains(',').sum()
print(f"Cast members with a comma: {comma_count}")

#see which cast members have special characters
df_netflix[df_netflix['has_special_char']]

#show the first 50 cast members that contain special characters
df_netflix[df_netflix['has_special_char']]['cast'].head(50)

#handle missing values
df_netflix['cast'].fillna('Unknown', inplace=True)

Cast members with special characters: 7180
Cast members with a comma: 7101

In [22]:
#country column

#Missing values-country column: 831 [Initial]
#Duplicated values-country column: 8058
#Total values-country column: 7976

#convert to string
df_netflix['country'] = df_netflix['country'].astype(str)

#strip of white spaces
df_netflix['country'] = df_netflix['country'].str.strip()

#check how many countries have special characters
#regex pattern: anything that is not a letter, number, space
pattern = r"[^a-zA-Z0-9\s]"

#create a boolean column: True if the countries contain special characters
df_netflix['has_special_char'] = df_netflix['country'].str.contains(pattern)

#count how many countries have special characters
special_char_count = df_netflix['has_special_char'].sum()
print(f"Countries with special characters: {special_char_count}")

#count all commas that countries have
comma_count = df_netflix['country'].str.contains(',').sum()
print(f"Countries with a comma: {comma_count}")

#see which countries have special characters
df_netflix[df_netflix['has_special_char']]

#show the first 50 countries that contain special characters
df_netflix[df_netflix['has_special_char']]['country'].head(50)

#handle missing values
df_netflix['country'].fillna('Unknown', inplace=True)

Countries with special characters: 1320
Countries with a comma: 1320

In [28]:
#date_added column

#Missing values-date_added column: 10
#Duplicated values-date_added column: 7039
#Total values-date_added column: 8797

#convert to date type, strip off white spaces and coerce invalid formats to NaT
df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'].astype(str).str.strip(), errors='coerce')

#confirm the conversion
df_netflix['date_added'].dtype

#confirm missing values are NaT (10 missing values -> output: np.int64(10))
df_netflix['date_added'].isna().sum()

np.int64(10)

In [24]:
#release_year column

#Missing values-release_year column: 0
#Duplicated values-release_year column: 8733
#Total values-release_year column: 8807

#convert to int
df_netflix['release_year'] = df_netflix['release_year'].astype(int)

#convert release_year to string for regex checking
release_year_str = df_netflix['release_year'].astype(str)

#regex pattern for 4-digit years
pattern = r'^\d{4}$'

#boolean mask -> true if it matches 4-digit pattern
is_valid_year = release_year_str.str.match(pattern)

#count how many are valid 4-digit years
valid_count = is_valid_year.sum()

#count how many are not valid
invalid_count = (~is_valid_year).sum()

print(f"Valid 4-digit release_year: {valid_count}")
print(f"Invalid release_year: {invalid_count}")

Valid 4-digit release_year: 8807
Invalid release_year: 0

In [40]:
#rating column -> common values: PG-13, TV-MA, PG, TV-14, TV-PG, TV-Y, TV-Y7, R

#Missing values-rating column: 4 [Initial]
#Duplicated values-rating column: 8789
#Total values-rating column: 8803

#convert rating to string, strip of white spaces, handle missing values
df_netflix['rating'] = df_netflix['rating'].astype(str).str.strip().fillna('Unknown')

#confirm most common values
rating_counts = df_netflix['rating'].value_counts()
print(rating_counts)

#clean anomalies (66 min, 74 min, 84 min)
valid_ratings = {
    'PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG',
    'TV-Y', 'TV-Y7', 'R', 'TV-G', 'NR', 'G', 'TV-Y7-FV', 'NC-17', 'UR', 'Unknown'
}

df_netflix['rating'] = df_netflix['rating'].apply(lambda x: x if x in valid_ratings else 'Unknown')

rating
TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
Unknown        7
TV-Y7-FV       6
NC-17          3
UR             3
Name: count, dtype: int64